<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<context:annotation-config />
	<bean id="executeBiz" class="com.igo.testro.msg.cmn.execute.biz.ExecuteBiz" />
	<bean id="projPopBiz" class="com.igo.testro.msg.cmn.biz.ProjPopBiz" />
	<bean id="projPopDao" class="com.igo.testro.msg.cmn.dao.ProjPopDao" />
	
	<bean id="mngCodeBiz" class="com.igo.testro.msg.cmn.biz.MngCodeBiz" />
	<bean id="mngCodeDao" class="com.igo.testro.msg.cmn.dao.MngCodeDao" />
	
	<bean id="mngSeqIdBiz" class="com.igo.testro.msg.cmn.biz.MngSeqIdBiz" />
    <bean id="mngSeqIdDao" class="com.igo.testro.msg.cmn.dao.MngSeqIdDao" />
</beans>
